.about-info-container {
  margin-top: 4vh;
  max-width: 55ch;
  p {
    margin: 3vh 0;
  }
}

.about-profile-image {
  background: url(https://marketifythemes.com/html/tokyo/img/slider/1.jpg)
    center no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 440px;
}
